body{
    margin: 0px;
}
.brands {
    display: grid;
    grid-template-columns: 1fr;
    font-family: sans-serif;
}



.brand-name{
    font-size: 50px;
    font-family: sans-serif;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(71, 6, 71);
}
html{
    background-color: rgb(12, 1, 1);
}
/*nav styles*/
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    font-family: sans-serif;
}
.left-side{
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
    
    }
    
    .nav-link-wrapper {
        height: 22px;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s;
        }

        .nav-link-wrapper a {
            color: whitesmoke;
            text-decoration: none;
            transition: color 0.5s;

        }

        .nav-link-wrapper :hover{
            border-bottom: 1px solid whitesmoke;
        }

        .nav-link-wrapper a:hover{
            color: whitesmoke;
        }

        .title{
            text-align: center;
            color: whitesmoke;
            font-size: 40px;
            text-transform: uppercase;
            font-family: sans-serif;
        }

        .abt {
            font-size: 30px;
        }